:root {
    --gray: rgb(182,195,212);
    --lightblue: rgb(90,149,196);
    --darkblue: rgb(18,71,115)
}
body {
/* font-family: Helvetica, Arial,  sans-serif; */
background-color: var(--gray);
}


nav {
background-color: var(--lightblue);

font-size: larger;
}
nav h1 {
    color: var(--darkblue);
    background-color: rgba(182,195,212,.75);
    border-radius: 5%;
}
.selected {
background-color: rgba(182,195,212,.75);
color: var(--lightblue);
border-radius: 10%;

}
.navbar-light .navbar-nav .nav-link.active {
color: var(--darkblue);
}

main {
    color: var(--darkblue);

}

main h2 {
    border-bottom: 2px solid var(--darkblue);
    font-size: 2.5rem;
}