:root {
    --gray: rgb(182,195,212);
    --lightblue: rgb(90,149,196);
    --darkblue: rgb(18,71,115)
}
body {
/* font-family: Helvetica, Arial,  sans-serif; */
background-color: var(--gray);
}


nav {
background-color: var(--lightblue);

font-size: larger;
}
nav h1 {
    color: var(--darkblue);
    background-color: rgba(182,195,212,.75);
    border-radius: 5%;
}
.selected {
background-color: rgba(182,195,212,.75);
color: var(--lightblue);
border-radius: 10%;

}
.navbar-light .navbar-nav .nav-link.active {
color: var(--darkblue);
}

main {
    color: var(--darkblue);

}

main h2 {
    border-bottom: 2px solid var(--darkblue);
    font-size: 2.5rem;
}

.card {
    background-color: var(--lightblue);
    color: var(--darkblue);
}
.card a {
    color: var(--darkblue);
}

@media screen and (min-width: 980px) {
    .card-wrapper {
        transition: transform .5s;
    }
    .card-wrapper:hover {
        z-index: 500;
        transform: scale(1.25,1.25);
    }
    
    .hide {
        opacity: 0;
        transform: translateY(-3rem);
        transition: all .5s;
        visibility: hidden;
    }
    
    .unhide:hover + .hide {
        visibility: visible;
        opacity: 1;
        transform: translateY(0rem);
    }
    .hide:hover{
        visibility: visible;
        opacity: 1;
        transform: translateY(0rem);
    }
}